@import "tailwindcss";

@font-face {
	font-family: "Montserrat";
	src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
	font-family: "Poppins";
	src: url("../public/fonts/Poppins/Poppins-Regular.woff2") format("woff2");
	font-weight: 400;
}
@font-face {
	font-family: "QuickSand";
	src: url("../public/fonts/Quicksand/Quicksand-VariableFont_wght.woff2") format("woff2");
}

@theme {
	/* SCREEN SIZES */
	--breakpoint-sm: 376px;
	--breakpoint-md: 664px;
	--breakpoint-lg: 976px;
	--breakpoint-xl: 1440px;

	/* COLORS */
	--color-primary: #00a651;
	--color-offwhite: #fdfdfd;
	--color-reggreen: #014133;
	--color-darkgreen: #075a48;

	/* FONTS */
	--font-Montserrat: "Montserrat", sans-serif;
	--font-Poppins: "Poppins", sans-serif;
	--font-QuickSand: "QuickSand", sans-serif;
}
